body {
    background: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

.wrapper {
    border: 1px solid black;
    margin: 50px auto;
    width: 500px;
    /* background: whitesmoke; */
}

.wrapper .top {
    padding: 20px;
}

.wrapper .top a {
    color: rgb(255, 0, 25);
    font-size: 20px;
    text-decoration: none;
    float: right;
}

.wrapper .top a:hover {
    color: rgb(195, 32, 32);
    transition: 0.5s;
}

.wrapper .top .logo img {
    width: 100%;
}

.wrapper .content {
    padding: 20px;
    font-weight: bold;
    line-height: 25px;
}

.wrapper .bottom {
    padding: 20px;
}

.wrapper .bottom span {
    text-align: right;
    color: red;
    font-weight: bold;
}